@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 63, 63);
}